Repository MercuryTechnologies/ghciwatch, pull requests merged in 2023-08, with the labels that each got.

#5 Implement `--errors` for `ghcid.txt`
  src/clap/camino.rs
  src/clap/humantime.rs
  src/clap/mod.rs
  src/cli.rs
  src/ghci/mod.rs
  src/ghci/stderr.rs
  src/ghci/stdin.rs
  src/ghci/stdout.rs
  src/main.rs
  src/watcher.rs
Labels: patch

#6 Fix `cargo release`
  Cargo.toml
Labels: patch

#7 Release version 0.1.1
  Cargo.lock
  Cargo.toml
  flake.nix
Labels: release

#9 Strip ANSI escapes when writing `ghcid.txt`
  Cargo.lock
  Cargo.toml
  src/ghci/stderr.rs
Labels: patch

#8 Log errors in async tasks
  Cargo.lock
  Cargo.toml
  src/ghci/mod.rs
  src/ghci/stderr.rs
  src/ghci/stdin.rs
  src/ghci/stdout.rs
  src/main.rs
Labels: patch

#11 Run tests on save
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/ghci/mod.rs
  src/ghci/stderr.rs
  src/ghci/stdin.rs
  src/ghci/stdout.rs
  src/incremental_reader.rs
  src/main.rs
Labels: minor

#31 Release version 0.2.0
  Cargo.lock
  Cargo.toml
  flake.nix
Labels: release

#32 Don't run tests when compilation fails
  src/ghci/mod.rs
  src/ghci/stderr.rs
  src/ghci/stdin.rs
  src/ghci/stdout.rs
Labels: patch

#33 Release version 0.2.1
  Cargo.lock
  Cargo.toml
  flake.nix
Labels: release

#38 Release version 0.2.2
  Cargo.lock
  Cargo.toml
  flake.nix
Labels: release

#39 Move `Ghci` out of the `Arc<Mutex<_>>`
  src/ghci/mod.rs
  src/watcher.rs
Labels: patch

#40 Allow customizing logged span events
  src/clap/fmt_span.rs
  src/clap/mod.rs
  src/cli.rs
  src/main.rs
  src/tracing/mod.rs
Labels: patch

#45 Remove `GhciStdin` process
  src/ghci/mod.rs
  src/ghci/stdin.rs
Labels: patch

#47 Add JSON logging
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/ghci/mod.rs
  src/main.rs
  src/tracing/mod.rs
Labels: minor

#48 Release version 0.3.0
  Cargo.lock
  Cargo.toml
  flake.nix
Labels: release

#54 Use crane for Nix builds
  .github/workflows/version.yaml
  flake.lock
  flake.nix
  src/fake_reader.rs
  src/ghci/mod.rs
Labels: patch

#55 Move to multi-crate workspace
  Cargo.toml
  flake.nix
  ghcid-ng/Cargo.toml
  ghcid-ng/src/aho_corasick.rs
  ghcid-ng/src/buffers.rs
  ghcid-ng/src/clap/camino.rs
  ghcid-ng/src/clap/error_message.rs
  ghcid-ng/src/clap/fmt_span.rs
  ghcid-ng/src/clap/humantime.rs
  ghcid-ng/src/clap/mod.rs
  ghcid-ng/src/clap/rust_backtrace.rs
  ghcid-ng/src/cli.rs
  ghcid-ng/src/command.rs
  ghcid-ng/src/event_filter.rs
  ghcid-ng/src/fake_reader.rs
  ghcid-ng/src/ghci/mod.rs
  ghcid-ng/src/ghci/show_modules.rs
  ghcid-ng/src/ghci/stderr.rs
  ghcid-ng/src/ghci/stdin.rs
  ghcid-ng/src/ghci/stdout.rs
  ghcid-ng/src/haskell_show.rs
  ghcid-ng/src/incremental_reader.rs
  ghcid-ng/src/lib.rs
  ghcid-ng/src/lines.rs
  ghcid-ng/src/main.rs
  ghcid-ng/src/sync_sentinel.rs
  ghcid-ng/src/textwrap.rs
  ghcid-ng/src/tracing/format.rs
  ghcid-ng/src/tracing/mod.rs
  ghcid-ng/src/watcher.rs
Labels: patch
