Repository MercuryTechnologies/ghciwatch, pull requests merged in 2024-05, with the labels that each got.

#228 Support Rust 1.72 (for real)
  Cargo.lock
  Cargo.toml
  flake.lock
  flake.nix
  src/tui/mod.rs
Labels: patch

#229 Release version 0.5.11
  Cargo.lock
  Cargo.toml
Labels: release

#231 Rename some CLI flags
  src/cli.rs
  src/ghci/mod.rs
Labels: patch

#237 Fix "module defined in multiple files" AGAIN!!!!
  src/ghci/mod.rs
  src/ghci/parse/module_set.rs
  tests/eval.rs
Labels: patch, module defined in multiple files

#239 Release version 0.5.12
  Cargo.lock
  Cargo.toml
Labels: release

#247 Add vendored/forked clap-markdown
  Cargo.lock
  Cargo.toml
  clap-markdown/Cargo.toml
  clap-markdown/LICENSE-APACHE
  clap-markdown/LICENSE-MIT
  clap-markdown/README.md
  clap-markdown/examples/complex_app.md
  clap-markdown/examples/complex_app.rs
  clap-markdown/src/formatter.rs
  clap-markdown/src/lib.rs
  clap-markdown/tests/test_examples.rs
Labels: patch

#250 Add user manual
  docs/.gitignore
  docs/SUMMARY.md
  docs/book.toml
  docs/cli.md
  docs/comment-evaluation.md
  docs/getting-started.md
  docs/install.md
  docs/introduction.md
  docs/lifecycle-hooks.md
  docs/no-load.md
  nix/packages/ghciwatch.nix
Labels: patch

#238 [DUX-1349] Start for one module
  src/cli.rs
  src/ghci/mod.rs
Labels: patch

#249 Publish user manual in GitHub releases
  .github/workflows/release.yaml
  flake.nix
  nix/packages/ghciwatch.nix
Labels: patch

#251 Publish user manual on GitHub pages
  .github/workflows/release.yaml
Labels: patch

#256 Run after-restart hooks before eval commands and test suites
  docs/lifecycle-hooks.md
  src/ghci/manager.rs
  src/ghci/mod.rs
Labels: patch

#257 Make eval comment parsing more consistent
  docs/comment-evaluation.md
  src/ghci/parse/eval.rs
Labels: patch

#252 Release version 0.5.13
  Cargo.lock
  Cargo.toml
Labels: release

#269 Fix user manual build
  .github/workflows/release.yaml
  Cargo.lock
  Cargo.toml
Labels: patch

#270 Release version 0.5.13
  Cargo.lock
  Cargo.toml
Labels: release

#271 Move `clap-markdown` into ghciwatch source tree
  Cargo.lock
  Cargo.toml
  clap-markdown/Cargo.toml
  clap-markdown/LICENSE-APACHE
  clap-markdown/LICENSE-MIT
  clap-markdown/README.md
  clap-markdown/examples/complex_app.md
  clap-markdown/examples/complex_app.rs
  clap-markdown/src/lib.rs
  clap-markdown/tests/test_examples.rs
  src/clap_markdown/formatter.rs
  src/clap_markdown/mod.rs
  src/lib.rs
  src/main.rs
  tests/clap_markdown.rs
Labels: patch

#272 Release version 0.5.13
  Cargo.lock
  Cargo.toml
Labels: release

#275 Release version 0.5.14
  Cargo.lock
  Cargo.toml
Labels: release

#278 Release version 0.5.15
  Cargo.lock
  Cargo.toml
Labels: release

#253 Generate CLI completions
  Cargo.lock
  Cargo.toml
  nix/packages/ghciwatch.nix
  src/cli.rs
  src/main.rs
Labels: patch

#279 Adding coverage reporting for tests
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  flake.nix
  nix/packages/cargo-llvm-cov.nix
  nix/packages/ghciwatch.nix
Labels: patch

#254 Generate `man` pages
  Cargo.lock
  Cargo.toml
  nix/packages/ghciwatch.nix
  src/cli.rs
  src/main.rs
Labels: patch

#264 Add treefmt
  nix/packages/ghciwatch.nix
  treefmt.toml
Labels: patch
