Repository MercuryTechnologies/ghciwatch, pull requests merged in 2024-06, with the labels that each got.

#288 Adding a small test for normal_path.rs
  src/normal_path.rs
Labels: patch

#290 Don't restart for removed or renamed modules
  README.md
  docs/introduction.md
  src/cli.rs
  src/ghci/mod.rs
  src/ghci/parse/module_set.rs
  src/ghci/stdin.rs
  src/hooks.rs
  test-harness/src/ghciwatch.rs
  test-harness/src/matcher/base_matcher.rs
  tests/clear.rs
  tests/globs.rs
  tests/hooks.rs
  tests/remove.rs
  tests/rename.rs
  tests/restart.rs
Labels: major

#291 Release version 1.0.0
  Cargo.lock
  Cargo.toml
Labels: release

#294 Fix `:show targets` / `:show paths` parsing logic
  src/ghci/parse/show_paths.rs
  src/ghci/parse/show_targets.rs
  src/normal_path.rs
Labels: patch

#300 [NFCI] Use `line_ending_or_eof` consistently in parsers
  src/ghci/parse/eval.rs
  src/ghci/parse/ghc_message/compilation_summary.rs
  src/ghci/parse/ghc_message/module_import_cycle_diagnostic.rs
  src/ghci/parse/lines.rs
Labels: patch

#299 [NFCI] Unwrap `GhcMessage` in diagnostic parsers
  src/ghci/parse/ghc_message/cant_find_file_diagnostic.rs
  src/ghci/parse/ghc_message/compilation_summary.rs
  src/ghci/parse/ghc_message/compiling.rs
  src/ghci/parse/ghc_message/generic_diagnostic.rs
  src/ghci/parse/ghc_message/mod.rs
  src/ghci/parse/ghc_message/no_location_info_diagnostic.rs
Labels: patch

#292 `ModuleSet`: store a set rather than a map
  src/ghci/loaded_module.rs
  src/ghci/mod.rs
  src/ghci/module_set.rs
  src/ghci/parse/mod.rs
  src/ghci/parse/module_set.rs
  src/ghci/parse/show_paths.rs
  src/ghci/parse/show_targets.rs
  src/ghci/parse/target_kind.rs
  src/ghci/stdin.rs
  src/ghci/stdout.rs
Labels: patch
