Repository MercuryTechnologies/ghciwatch, pull requests merged in 2025-02, with the labels that each got.

#338 GhciEvent: rename to WatcherEvent
  src/ghci/manager.rs
  src/watcher.rs
Labels: patch

#339 Add `$GHCIWATCH_LOG` for `--log-filter`
  src/cli.rs
Labels: minor

#341 Release version 1.1.0
  Cargo.lock
  Cargo.toml
Labels: release

#345 [DUX-3004]: handle evil clients that send ANSI escapes after NL
  src/incremental_reader.rs
  src/lib.rs
Labels: patch

#347 Release version 1.1.1
  Cargo.lock
  Cargo.toml
Labels: release

#351 feat(patch): enable LTO and codegen-units = 1 optimizations
  Cargo.toml
Labels: patch

#352 Release version 1.1.2
  Cargo.lock
  Cargo.toml
Labels: release

#353 Fix release CI
  .github/workflows/release.yaml
Labels: patch

#354 Release version 1.1.3
  Cargo.lock
  Cargo.toml
Labels: release
